<p>
    <%= portfolio.name %> - <%= portfolio.description %> - <%= Currency.find(portfolio.currency_id).name %>
    <%= link_to "Edit Portfolio", edit_owner_portfolio_path(portfolio.owner, portfolio) %>
    <%= link_to "Delete Portfolio", [portfolio.owner, portfolio],
    data: { turbo_method: :delete, confirm: "Are you sure?" }
    %>

    <h2>Assets</h2>
    <table>
        <tr>
            <th>Asset</th>
            <th>Unit Price</th>
            <th>Unit Purchasing Price</th>
            <th>Currency</th>
            <th>PNL</th>
            <th>Account</th>
            <th>Type</th>
            <th>Ticker</th>
            <th>Sector</th>
            <th>SubSector</th>
        </tr>
        <% portfolio.assets.each do |asset| %>
            <tr>
                <td><%= asset.name %></td>
                <td><%= asset.unit_price %></td>
                <td><%= asset.unit_purchasing_price %></td>
                <td><%= Currency.find(asset.currency_id).symbol %></td>
                <td>To compute</td>
                <td><%= asset.account %></td>
                <td><%= asset.asset_type %></td>
                <td><%= asset.ticker %></td>
                <td><%= asset.sector %></td>
                <td><%= asset.sub_sector %></td>
                <td><%= link_to "Edit", edit_owner_portfolio_asset_path(asset.portfolio.owner, asset.portfolio, asset) %></td>
                <td><%= link_to "Delete", [asset.portfolio.owner, asset.portfolio, asset],
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
            </tr>
        <% end %>
    </table>
    <br>
<br>
<h2>Add an Asset</h2>
    <%= form_with model: @asset, url: owner_portfolio_assets_path(portfolio.owner, portfolio) do |form| %>
        <div>
            <%= form.label :name %><br>
            <%= form.text_field :name %>
        </div>

        <div>
            <%= form.label :quantity %><br>
            <%= form.text_field :quantity %>
        </div>


        <div>
            <%= form.label :unit_price %><br>
            <%= form.text_field :unit_price %><br>
        </div>

        <div>
            <%= form.label :unit_purchasing_price %><br>
            <%= form.text_field :unit_purchasing_price %><br>
        </div>

        <div>
            <%= form.label :currency_id %><br>
            <%= form.collection_select :currency_id, Currency.all, :id, :name %><br>
        </div>

        <div>
            <%= form.label :account %><br>
            <%= form.text_field :account %><br>
        </div>

        <div>
            <%= form.label :asset_type %><br>
            <%= form.text_field :asset_type %><br>
        </div>

        <div>
            <%= form.label :ticker %><br>
            <%= form.text_field :ticker %><br>
        </div>

        <div>
            <%= form.label :sector %><br>
            <%= form.text_field :sector %><br>
        </div>

        <div>
            <%= form.label :sub_sector %><br>
            <%= form.text_field :sub_sector %><br>
        </div>
        <br>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
<br>
</p>
