<h1>Edit Portfolio</h1>

<%= form_with model: [@owner, @owner.portfolios.find(params[:id])] do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :currency_id %>
    <%= form.collection_select :currency_id,
     Currency.order(:name),:id,:name, include_blank: false %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
